div.header-action
  .input-group.input-group-sm
    input(
      type='text'
      name='search'
      class='form-control'
      placeholder='Search for...'
    )
    span.input-group-btn
      button(
        class='btn btn-default'
        type='button'
      ) Go!
  .btn-group
    button(
      class='btn btn-default btn-sm dropdown-toggle'
      type='button'
      data-toggle='dropdown'
    ) Chi nhanh
      span.caret
    ul.dropdown-menu.pull-right
      li
        a(href='#') Ha Noi
      li
        a(href='#') Da Nang
      li
        a(href='#') HCM
        li.divider
      li
        a(href='#') Tat ca
