div.header-action
  .input-group.input-group-sm
    input(
      type='text'
      name='search'
      class='form-control'
      placeholder='Search for...'
    )
    span.input-group-btn
      button(
        class='btn btn-default'
        type='button'
      ) Go!
  .btn-group
    button(
      class='btn btn-default btn-sm dropdown-toggle'
      type='button'
      data-toggle='dropdown'
    ) Language
      span.caret
    ul.dropdown-menu.pull-right
      li
        a(href='#') Vietnamese
      li
        a(href='#') English
      li
        a(href='#') Chinese
        li.divider
      li
        a(href='#') Vietnamese
